.layout-container{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.product-image{
    flex:0.50;
    height: 450px;
    width: 300px;
}
.product-info{
    display: flex;
    flex:0.45;
}
.info-box{
    margin: auto;
}
h2{
    text-align: center;
}
table {
    border-collapse: collapse;
}
.name{
    color: aqua;
    padding: 10px;
    padding-left: 25px;
    
}
.table-row{
   margin: 20px;
}